#b-page-container {
    margin-left: 3rem;
    margin-right: 3rem;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#b-content-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}